<header>
    <span class="nav_span">&lt;FTP/&gt;</span>

    <nav>
        <ul>
            <li><a class="nav_link" routerLink="/home" routerLinkActive="active_link" [routerLinkActiveOptions]="{ exact: true }">Inicio</a></li>
            <li><a class="nav_link" routerLink="/projects" routerLinkActive="active_link">Proyectos</a></li>
            <li><a class="nav_link" routerLink="/about" routerLinkActive="active_link">Sobre Mí</a></li>
            <li><a class="nav_link" routerLink="/contact" routerLinkActive="active_link">Contacto</a></li>
        </ul>
    </nav>

    <button class="btn_dark_mode">
        <img src="images/moon.png" alt="Modo Claro">
    </button>
</header>