<div class="div_container_loading">
  <div class="div_loader">
      <div class="div_loader_brand">
        <div class="div_orbit">
          <span class="orbit_dot"></span>
          <img src="images/logos/logo.png" [alt]="messagesService.texts().loading.logoAlt">
        </div>
      </div>
    
      <p class="loading_text">{{ messagesService.texts().loading.loading }} <span>{{ messagesService.texts().loading.experience }}</span></p>
    
      <div class="loading_bars" aria-hidden="true">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    
      <p class="loading_subtext">&lt; {{ messagesService.texts().loading.subtext }} /&gt;</p>
  </div>  
</div>
