<div class="div_container_loading">
  <div class="div_loader">
      <div class="div_loader_brand">
        <div class="div_orbit">
          <span class="orbit_dot"></span>
          <img src="logos/logo.png" alt="FP">
        </div>
      </div>
    
      <p class="loading_text">Cargando <span>experiencia...</span></p>
    
      <div class="loading_bars" aria-hidden="true">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    
      <p class="loading_subtext">&lt; Desarrollando ideas, creando soluciones /&gt;</p>
  </div>  
</div>
