@if(loading) {
    <app-loading></app-loading>
} @else {
    <div class="div_container_home">
        <app-header></app-header>

        <main>
            <section class="section_one">
                <div class="div_section_one_one">
                    <div class="div_spans_section_one">
                        <span class="greeting_span">Hola, soy</span>
                        <span class="name_span">Francisco <span class="last_name_span">Panuccio</span></span>
                        <span class="title_span">Desarrollador Web Full Stack</span>
                        <span class="description_span">
                            Enfocado en crear interfaces responsive, escalables, optimizadas, visualmente atractivas y centradas en la experiencia del usuario.
                        </span>
                    </div>

                    <div class="div_btns_section_one">
                        <button class="btn_projects" routerLink="/projects">Ver mis proyectos</button>
                        <button class="btn_contact" routerLink="/contact">Contactarme</button>
                    </div>
                </div>

                <div class="div_section_one_two">
                    <img src="images/profile.webp" alt="Foto de Perfil">
                </div>
            </section>

            <section class="section_two">
                <span class="title_span">Proyectos Destacados</span>

                <div class="div_projects">
                    <div class="project">
                        <div class="div_title_project">
                            <div class="div_img_title_project">
                                <img src="images/falluto.png" alt="Falluto">
                            </div>

                            <span>Falluto</span>
                        </div>

                        <span class="span_description_project">Juego del impostor, incluye creacion de mesas online en forma gratuita y sin publicidad.</span>

                        <a class="a_project" routerLink="/project/falluto">Ver Proyecto</a>
                    </div>

                    <div class="project">
                        <div class="div_title_project">
                            <div class="div_img_title_project">
                                <img src="images/pokewordle.png" alt="PokeWordle">
                            </div>

                            <span>PokeWordle</span>
                        </div>

                        <span class="span_description_project">Juego de tipo Wordle con tematica Pokemon, incluye modo historia.</span>

                        <a class="a_project" routerLink="/project/pokewordle">Ver Proyecto</a>
                    </div>

                    <div class="project">
                        <div class="div_title_project">
                            <div class="div_img_title_project">
                                <img src="images/tastebyte.webp" alt="TasteByte">
                            </div>

                            <span>TasteByte</span>
                        </div>

                        <span class="span_description_project">Aplicacion movil para gestion gastronomica con multiplicidad de roles.</span>

                        <a class="a_project" routerLink="/project/tastebyte">Ver Proyecto</a>
                    </div>
                </div>

                <div>
                    <a class="a_projects" routerLink="/projects">-- Ver todos los proyectos --</a>
                </div>
            </section>
        </main>

        <footer>
            <p>2026 - Francisco Panuccio. Todos los derechos reservados.</p>
        </footer>
    </div>
}
