@if(loading) {
    <app-loading></app-loading>
} @else {
    <div class="div_container" [class.language_transition_out]="messagesService.languageTransitionState() === 'out'" [class.language_transition_in]="messagesService.languageTransitionState() === 'in'">
        <app-header></app-header>

        <main>
            <section class="section_one">
                <div class="div_section_one_one">
                    <div class="div_spans_section_one">
                        <span class="greeting_span">{{ messagesService.texts().home.greeting }}</span>
                        <span class="name_span">Francisco <span class="last_name_span">Panuccio</span></span>
                        <span class="title_span">{{ messagesService.texts().home.title }}</span>
                        <span class="description_span">
                            {{ messagesService.texts().home.description }}
                        </span>
                    </div>

                    <div class="div_btns_section_one">
                        <button class="btn_projects" routerLink="/projects">{{ messagesService.texts().home.viewProjects }}</button>
                        <button class="btn_contact" routerLink="/contact">{{ messagesService.texts().home.contactMe }}</button>
                    </div>
                </div>

                <div class="div_section_one_two">
                    <img src="images/profile.webp" alt="Foto de Perfil" loading="eager" fetchpriority="high" decoding="async">
                </div>
            </section>

            <section class="section_two">
                <span class="title_span projects_span">{{ messagesService.texts().home.featuredProjects }}</span>

                <div class="div_projects">
                    <div class="project">
                        <div class="div_title_project">
                            <div class="div_img_title_project">
                                <img src="images/logos/falluto.png" alt="Falluto">
                            </div>

                            <span>Falluto</span>
                        </div>

                        <span class="span_description_project">{{ messagesService.texts().home.projects.fallutoDescription }}</span>

                        <a class="a_project" routerLink="/project/falluto">{{ messagesService.texts().home.viewProject }}</a>
                    </div>

                    <div class="project">
                        <div class="div_title_project">
                            <div class="div_img_title_project">
                                <img src="images/logos/pokewordle.png" alt="PokeWordle">
                            </div>

                            <span>PokeWordle</span>
                        </div>

                        <span class="span_description_project">{{ messagesService.texts().home.projects.pokewordleDescription }}</span>

                        <a class="a_project" routerLink="/project/pokewordle">{{ messagesService.texts().home.viewProject }}</a>
                    </div>

                    <div class="project">
                        <div class="div_title_project">
                            <div class="div_img_title_project">
                                <img src="images/logos/tastebyte.webp" alt="TasteByte">
                            </div>

                            <span>TasteByte</span>
                        </div>

                        <span class="span_description_project">{{ messagesService.texts().home.projects.tastebyteDescription }}</span>

                        <a class="a_project" routerLink="/project/tastebyte">{{ messagesService.texts().home.viewProject }}</a>
                    </div>
                </div>

                <div class="div_a_projects">
                    <a class="a_projects" routerLink="/projects">{{ messagesService.texts().home.viewAllProjects }}</a>
                </div>
            </section>
        </main>
    </div>
}
